<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./play.css">
    <title>Document</title>
</head>
<body>
    <div class="play">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In corrupti modi quisquam itaque numquam ad natus nam unde tenetur minus, dolore porro accusantium quidem dolores neque voluptates explicabo laudantium! Repellat, consequatur magnam nihil animi, corrupti neque, expedita sequi delectus eius laboriosam blanditiis! Vel dignissimos blanditiis atque exercitationem officiis aliquid, assumenda voluptates at, porro minus provident dolorem officia itaque nulla eveniet alias ducimus reiciendis rerum eius. Commodi accusantium placeat consequatur ad doloribus illo atque quis ipsum, vel repudiandae architecto ea dolore nisi. Praesentium eligendi rerum optio molestiae rem hic voluptatibus accusamus provident corrupti consequuntur, porro ab voluptate commodi quis delectus culpa laborum ducimus et sapiente. Voluptatibus unde eos, iure porro rem perspiciatis incidunt. Cum, voluptates quas nobis iste laborum quo modi expedita, a, in labore molestias? Quam, obcaecati? Quibusdam iusto cumque consequuntur non quasi dignissimos deserunt totam necessitatibus voluptatibus accusamus harum minus optio, placeat pariatur quod quia soluta excepturi ipsam. Saepe dignissimos dicta aut ea optio temporibus possimus deserunt cum iure recusandae? Officiis saepe consequatur ipsum nemo impedit vitae enim cum alias? Praesentium, ducimus odio fugit eius accusamus temporibus voluptatibus voluptas voluptatum impedit quis! Aperiam veritatis et aut quod, ad expedita, autem deleniti blanditiis praesentium repellendus asperiores eaque architecto natus magni.
        </p>
    </div>
</body>
</html>